@charset "UTF-8";
/* CSS Document */
body{
    margin: 0;
    padding: 0;
    font-family: "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", "Meiryo","Osaka","MS PƒSƒVƒbƒN", "MS PGothic", sans-serif;
    background-image: url(../images/body-bg.png);
}